

<ion-content class="ion-padding" center-align="center">


  <ion-img class="img-login" src="../../assets/img/lear.png" width="100" height="100"></ion-img>

<ion-title class="titulo-login">LearingStyles</ion-title >

<ion-list>

  <ion-item>
    <ion-input type="text" placeholder="Username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Password"></ion-input>
  </ion-item>

</ion-list>


<ion-button (click)="login()" expand="block" fill="clear" shape="round" full >
  Log in
</ion-button>


<ion-button (click)="Register()" expand="block" fill="clear" shape="round" full color="light">
  Register
</ion-button>

</ion-content>
