.img-login{
    width: 50% !important;
    left: 50% !important;

    display:block;
    margin:auto;


    
    
}
.titulo-login{
    text-align: center;
    padding: 10px !important;
    font-weight: bold;
}